body {
    background-color:rgb(235, 157, 157); 
}
h1{
    text-align: center;
    color: blue;   
}
p{
    font-size: 16px;
     text-align: justify;
}
ul{
}
.lista li{
    margin: 6px;
}
img {
    border-radius: 10px;
}
table{
    text-align: center;
    color: blue; 
    border-radius: 10px;
}
a:hover{
    color: red;

}